@model System.Data.Entity.DbSet<GestionarFicheros.Models.Fichero>

@{
    ViewBag.Title = "Gestión de Ficheros";
}

<h1>Gestión de Ficheros</h1>
<br />
@Html.ActionLink("Guardar en servidor", "Subida", new { almacen = 1 }, new { @class = "btn btn-success" })<br/><br />
@Html.ActionLink("Guardar en Base 64" , "Subida", new { almacen = 2 }, new { @class = "btn btn-primary" })<br /><br />
@Html.ActionLink("Guardar en Binario" , "Subida", new { almacen = 3 }, new { @class = "btn btn-info" })<br /><br />
@Html.ActionLink("Guardar en Azure"   , "Subida", new { almacen = 4 }, new { @class = "btn btn-warning" })<br /><br />
<br /><br />
@foreach (var item in Model)
{

    if (item.Tipo == "interno")
    {
        if (item.TipoFichero == 1)
        {
            //Si el tipo es 1, tipo imagen, se ve la imagen
            <img src="/ficherossubidos/@item.Datos"/>
        }
        else
        {
//Si no, se muestra el nombre como url
            <a href="/ficherossubidos/@item.Datos">@item.Nombre</a>
        }
    }
    else if (item.Tipo == "base64")
    {
//Como se tiene un array de bytes codificados en base 64, hay q descodificarlo
        if (item.TipoFichero == 1)
        {
            //Si el tipo es 1, tipo imagen, se ve la imagen
            <img src="data:image/jpeg;base64,@item.Datos"/>
        }
        else
        {
            @Html.ActionLink(@item.Nombre, "DownloadFile", new{id = @item.idFichero,tipo = 0}, new {target = "_blank"});
        }
    }
    else if (item.Tipo == "binario")
    {
//Como se tiene un array de bytes codificados en base 64, hay q descodificarlo
        if (item.TipoFichero == 1)
        {
            //Si el tipo es 1, tipo imagen, se ve la imagen
            <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.DatosBinarios)"/>
        }
        else
        {
//Si no, se muestra el nombre como url para descargar
            @Html.ActionLink(@item.Nombre, "DownloadFile", new {id = @item.idFichero, tipo = 1}, new {target = "_blank"})
        }
    }
    else if (item.Tipo == "azure")
    {
        //Como se tiene un array de bytes codificados en base 64, hay q descodificarlo
        if (item.TipoFichero == 1)
        {
            //Si el tipo es 1, tipo imagen, se ve la imagen
            @Html.Action("GetBase64Azure",new {nombre=item.Datos})
            //html.action es como un partial, pero este no pasa por el controlador, mientras que el action llama
            //directamente a un metodo del controlador
        }
        else
        {
            //Si no, se muestra el nombre como url para descargar
            @Html.ActionLink(@item.Nombre, "DownloadFile", new { id = @item.idFichero, tipo = 2 }, new { target = "_blank" })
        }
    }
}